:root {
    --sign-up-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg: hsl(219, 30%, 18%);

    --cyan-accent: hsl(176, 68%, 64%);
    --blue-accent: hsl(198, 60%, 50%);
    --red-accent: hsl(0, 100%, 63%);

    --neutral: hsl(0, 0%, 100%);
}

html, body {
    margin: 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: var(--neutral);
    background-color: var(--main-bg);
}

.container,
.footer-content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

p {
    opacity: .7;
}

header {
    margin: 4rem 0;
}

.header__top {
     display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul{
    display: flex;
    list-style: none;
}

.header__nav-item a{
    color: var(--neutral);
    text-decoration: none;
    margin-left: 4rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    opacity: .7;
    padding-bottom: .5rem;
}

.header__nav-item a:hover {
    color: var(--neutral);
    opacity: 1;
    border-bottom: 1px solid var(--neutral);
}

.toggle-button {
    position: absolute;
    top: 3.1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.75rem;
    height: 1.25rem;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*---Main Part---*/
.files {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.files__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.files__inner-hero {
    max-width: 40rem;
}

.files__inner h1 {
    font-size: 2rem;
    margin: 2rem 0 0 0;
}

.files__inner p {
    padding: 0 4rem;
    font-weight: 400;
    margin: 2rem 0;
}

.files__inner button {
    color: var(--neutral);
    background: linear-gradient(90deg, var(--cyan-accent), var(--blue-accent));
    padding: 1rem 5rem;
    border: none;
    border-radius: 2rem;
}

/*---Stats---*/

.stats {
    width: 80%;
    margin: 7rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stats img {
    width: 4rem;
}

.stats h2 {
    margin: 1rem 0 .5rem 0;
}

.stats p {
    margin: 0;
}

.stats__first-row {
    display: flex;
    align-items: flex-end;
}

.first-row__left,
.first-row__right,
.second-row__left,
.second-row__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.stats__second-row {
    display: flex;
    align-items: flex-end;
    margin-top: 4rem;
}

.productive {
    margin-top: 7rem;
    display: flex;
}

.productive__illustration,
.productive__text {
    width: 45%;
    margin: 0 auto;
}

.productive__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productive__text h3 {
    margin: 0;
    font-size: 2rem;
}

.productive__text p {
    margin: .5rem 0;
}

.productive__text a {
    color: var(--cyan-accent);
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid var(--cyan-accent);
    width: 10.5rem;
    padding-bottom: .5rem;
}

.productive__text a img {
    position: absolute;
    top: .25rem;
    margin-left: .5rem;
}

/*---Feedback Part---*/

.feedback {
    margin: 10rem auto 20rem auto;
    display: flex;
    position: relative;
}

.feedback__quotes {
    position: absolute;
    top: -2.5rem;
    z-index: 1;
}

.feedback__customer {
    background-color: var(--testimonials-bg);
    position: relative;
    z-index: 2;
    width: 30%;
    margin: 0 auto;
    border-radius: .5rem;
}

.feedback__customer-text {
    padding: 1.5rem;
}

.feedback__customer-info {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.feedback__customer-info img {
    margin-left: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.customer-details h4,
.customer-details p{
    margin: 0 0 0 .5rem;
}

.customer-details h4 {
    font-size: .75rem;
}

.customer-details p {
    font-size: .75rem;
}

/*---Footer---*/

footer {
    background-color: var(--footer-bg);
    width: 100%;
    position: relative;
}

.early-access {
    width: 60%;
    margin: 0 auto;
    background-color: var(--sign-up-bg);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.early-access h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 2rem 5rem 0 5rem;
}

.early-access p,
.early-access form{
    padding: 0 5rem;
}

.early-access form {
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.early-access form input {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: none;
    width: 20em;
}

.early-access form button {
    color: var(--neutral);
    background: linear-gradient(90deg, var(--cyan-accent), var(--blue-accent));
    padding:.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    margin: 1rem 1rem 0 1rem;
    width: 20em;
}

.footer-content {
    padding: 15rem 0 5rem 0;
}

.footer-content__menues {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.menues__location {
    display: flex;
    max-width: 24rem;
}

.menues__contact {
    padding: 0 2rem;
}

.menues__location img,
.contact__phone img,
.contact__mail img {
    width: 1rem;
    height: 1rem;
    margin: .5rem 1rem 0 0;
}

.menues__location p,
.contact__phone p,
.contact__mail p{
    margin: .2rem 0 0 0;
}

.contact__phone,
.contact__mail {
    display: flex;
}

.contact__mail {
    margin-top: 1rem;
}

.menues__links-left ul,
.menues__links-right ul {
list-style: none;
margin: 0;
}

.menues__links-left ul li,
.menues__links-right ul li{
opacity: .7;
margin-bottom: .5rem;
}

.menues__socials img {
    width: 1rem;
    height: 1rem;
    opacity: .7;
    margin-left: .75rem;
}

.menues__socials {
    margin: 3px 0 0 1rem;
    display: flex;
}

@media (max-width: 650px) {

    .header__nav-item a{
        margin-left: 1rem;
    }

    .files {
        width: 100%;
    }

    .files__inner-hero {
        width: 100%;
    }

/*---Main Stats---*/

.stats {
width: 90%;
}

.stats__first-row {
    display: flex;
    flex-direction: column;
}

.stats__second-row {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.first-row__left,
.first-row__right,
.second-row__left,
.second-row__right {
    width: 100%;
    margin-top: 4rem;
}

/*---Main-Productive*/

.productive {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.productive__illustration,
.productive__text {
    width: 80%;
    margin-top: 4rem;
}

/*---Main Feedback*/

.feedback {
    display: flex;
    flex-direction: column;
}

.feedback__customer {
    width: 100%;
    margin-bottom: 2rem;
}

/*---Early Access*/

.early-access {
    width: 90%;
}

/*---Footer---*/


.footer-content__menues {
    display: flex;
flex-direction: column;
}

.menues__contact {
    padding: 0;
}

.footer-content__menues ul {
    padding: 0;
}

.menues__contact {
    margin-top: 2rem;
}

.menues__socials {
    display: flex;
    justify-content: center;
}

.menues__links-left{
    margin: 4rem 0 2rem 0;
}

.menues__links-right{
    margin: 0 0 4rem 0;
}

}

@media (max-width: 500px) {

    .early-access {
        width: 90%;
    }
    .early-access h3,
    .early-access p,
    .early-access form {
        padding: 1rem;
        margin: 0 auto;
    }

    .early-access form {
        width: 80%;
    }

    .early-access form input,
    .early-access form button {
        padding: .5rem 1rem;
        border-radius: 2rem;
        border: none;
        width: 70%;
        margin: .5rem;
    }
    
    
.header__nav {
    display: none;
}

    .toggle-button {
        display: flex;
        margin-top: 2rem;
    }

    .header__nav ul {
        width: 100%;
        flex-direction: column;
    }

    .header__nav ul li {
        padding:  .5rem 0;
    }

    .header__nav ul li a{
        margin: 0;
    }

    .header__nav.active {
        display: flex;
    }

    .header__nav.active ul {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .header__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


}